* {
    font-family: 'Barlow', 'Fraunces';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
}

:root {
    --red-bg:hsl(7, 99%, 70%);
    --yellow-bg:hsl(51, 100%, 49%);
    --blue-text:hsl(198, 62%, 26%);
    --green-footer:hsl(167, 34%, 41%);
}

body,html {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1,h2 {
    font-family: 'fraunces';
}

p {
    font-family: 'Barlow';
    font-size: 1rem;
}

img {
    user-select: none;
}

/* btn */

.btn1 {
    all: unset;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-family: 'Fraunces';
    color: black;
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 0 2rem;
    position: fixed;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

nav a{
    text-decoration:none;
    color: white;
}

.burger {
    display: none;
}

main {
    width: 100%;
    height: 100vh;
    background-image: url(images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

main h1 {
    font-size: 7rem;
    font-family: 'fraunces';
    word-spacing: 1.5rem;
    color: white;
}

main img {
    animation: ease-in-out infinite 1s bounce;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section img {
    width: 50%;
    height: 100vh;
}

.card {
    width: 50%;
    padding: 8rem;
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

.card h2 {
    font-size: 2.5rem;
}

.bg1 {
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
    text-align: center;
}

.bg2 {
    background-image: url(images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
    text-align: center;
}   

.desc {
    position: relative;
    top:220px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.client-testi {
    font-size: 2rem;
}

.con-client {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: auto;
    text-align: center;
}

.client {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 20%;
    gap: 2rem;
}

.client img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
}

.gallery img {
    width: 25%;
    height: 60vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    height: 50vh;
    background-color: var(--green-footer);
    flex-direction: column;
}

.icon {
    display: flex;
    gap: 2rem;
}

.icon img {
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    nav {
        display: none;
        position: fixed;
        top: 100px;
        width: 80%;
        flex-direction: column;
        background-color: white;
        padding: 2rem;
        font-weight: 600;
        box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.308);
        opacity:0;
    }

    nav.aktif {
        display: flex;
        animation: slide ease-in-out 0.2s forwards;
    }

    @keyframes slide {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .btn1 {
        background-color: var(--yellow-bg);
    }

    nav a {
        color: black;
        animation: slide ease-in-out 0.5s forwards;
    }

    .burger {
        display: flex;
    }

    main {
        width: 100%;
        height: 100vh;
    }

    main h1 {
        font-size: 5rem;
        letter-spacing: normal;
        text-align: center;
    }

    section {
        width: 100%;
        height: auto;
    }

    .card {
        width: 100%;
        padding: 1rem;
    }

    section img {
        width: 100%;
        height: auto;
    }

    .card {
        text-align: center;
        gap: 2rem;
        padding: 3rem 2rem;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }

    .card h2 {
        font-size: 1.5rem;
    }

    .rev {
        display: flex;
        flex-direction: column-reverse;
    }

    .bg1 {
        background-image: url(images/mobile/image-graphic-design.jpg);
    }
    
    .bg2 {
        background-image: url(images/mobile/image-photography.jpg);
    }

    .bg1,.bg2 {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100vh;
        padding: 0;
    }

    .bag2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .desc {
        position: relative;
        top: 150px;
        width: 70%;
        margin: auto;
    }

    .client-testimonial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 0;
    }

    .client-testi {
        font-size: 1.5rem;
        margin-bottom: 5rem;
    }

    .con-client {
        flex-direction: column;
        width: 80%;
        gap: 5rem;
    }

    .client {
        width: 100%;
        gap: 1.5rem;
    }

    .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60vh;
    }

    .gallery img {
        width: 50%;
        height: 30vh;
    }

    footer .nav-btm {
        display: flex;
        color: white;
    }
}
